astroid==2.4.2
beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.5.3
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
Flask-Cors==3.0.9
matplotlib=3.3.3
opencv-python=4.4.0.46
pytesseract=0.3.6